/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .8s ease-out;
    transform-style: preserve-3d;
    transform: perspective(4000px);
}

:root {
    --book-width: 230px;
    --book-height: 280px;
    --radius: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(6, 1, 29), rgb(1, 24, 46));
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.wrapper .book {
    width: var(--book-width);
    height: var(--book-height);
    position: relative;
    transform: rotateX(20deg) rotateY(20deg) rotateZ(-1deg);
    transform-origin: top right;
    box-shadow: -30px 30px 60px #000;
    border-radius: var(--radius);
}

.wrapper .book .page {
    width: var(--book-width);
    height: var(--book-height);
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left;
    box-shadow: 0 0 1px #fff;
    border-radius: var(--radius);
}

.wrapper .book .page img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.wrapper .book .page:nth-child(8) {
    box-shadow: -4px 5px 3px #fff;
}